<div class="jumbotron mt-2 oppacity">
  <div class="support-info">
    Jeżeli masz jakies pytania prosimy zajrzyj wczesniej do zakladki FAQ. Jeżeli nie znajdziesz tam odpowiedzi na swoje pytanie
    lub chcesz pomoc w rozwoju aplikacji prosimy o kontakt na:
    <br>
    <br> TELEFON:
    <br> 123123123
    <br>
    <br> LUB E-MAIL:

    <br> JAKISPRZYKLADOWYMAIL@GMAIL.COM

    <br>
    <br> Mozesz rowniez wesprzec rozwoj aplikacji poprzez dotacje na nszym koncie patronite:

    <br>
    <br> WWW.JAKISPATRONITE.PL

    <br>
    <br> Jeżeli chcesz wesprzeć BeAware w inny sposob, możesz rowniez opowiedzieć
    o nas znajomym. Im nas więcej, tym więcej dobrego dla powietrza w Polsce możemy zrobić.
    <br> Za każdą formę udzielonego nam wsparcia serdecznie dziękujemy.

  </div>
</div>
