<div class="jumbotron mt-3">
  <div class="support-info">
    Jeżeli masz jakieś pytania prosimy zajrzyj wcześniej do zakladki FAQ. Jeżeli nie znajdziesz tam odpowiedzi na swoje pytanie
    lub chcesz pomóc w rozwoju aplikacji prosimy o kontakt na maila:
    <br>
    <br>
    <p>
      <button type="button" class="btn btn-outline-success" (click)="isCollapsedMail1 = !isCollapsedMail1; " [attr.aria-expanded]="!isCollapsedMail1"
        aria-controls="collapseExample">
        Mateusz Otręba
      </button>

      <button type="button" class="btn btn-outline-success" (click)="isCollapsedMail2 = !isCollapsedMail2" [attr.aria-expanded]="!isCollapsedMail2"
        aria-controls="collapseExample">
        Daniel Słowik
      </button>
    </p>

    <div id="collapseExample" [ngbCollapse]="isCollapsedMail1">
      <div class="card">
        <div class="card-body">
          Mateusz Otręba: motreba1996@gmail.com
        </div>
      </div>
    </div>

    <div id="collapseExample" [ngbCollapse]="isCollapsedMail2">
      <div class="card">
        <div class="card-body">
          Daniel Słowik: kkasztann@gmail.com
        </div>
      </div>
    </div>

    <br>
    <br> Jeżeli natomiast interesują Cię szczegóły naszego projektu, to kod źródłowy jest dostępny dla wszystkich na platformie
    GitHub:
    <br>
    <br>
    <p class="lead">
      <a class="btn btn-outline-success btn-lg" href="https://github.com/kkasztann/BeAwareAirInfoApplication" target="_blank" role="button">Check on GitHub</a>
    </p>
    <br>
    <br> Jeżeli chcesz wesprzeć BeAware w inny sposób, możesz równiez opowiedzieć o nas znajomym. Im nas więcej, tym więcej dobrego
    dla powietrza w Polsce możemy zrobić.
    <br> Za każdą formę udzielonego nam wsparcia serdecznie dziękujemy.
    <br>
    <span class="like">
      <i class="fa fa-gratipay"></i>
    </span>
  </div>
</div>
