<div class="jumbotron mt-3">
  <h2 class="display-6">FAQ - Przed kontaktem sprawdź listę często zadawanych pytań</h2>
  <br>
  <p>
    <button type="button" class="btn btn-outline-success" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed"
      aria-controls="collapseExample">
      Czy korzystanie z aplikacji<br *ngIf="screenWidth < 770"> jest całkowicie darmowe?
    </button>
  </p>
  <div id="collapseExample" [ngbCollapse]="isCollapsed">
    <div class="card">
      <div class="card-body">
        Korzystanie z aplikacji jest i będzie darmowe, BeAwareAirInfo została stworzona z misją zwrócenia uwagi na problem z jakością
        powietrza w Polsce, oraz z nadzieją na jej poprawę.
      </div>
    </div>
  </div>


  <p>
    <button type="button" class="btn btn-outline-success" (click)="isCollapsed2 = !isCollapsed2" [attr.aria-expanded]="!isCollapsed2"
      aria-controls="collapseExample">
      Czy strona/aplikacja zbiera<br *ngIf="screenWidth < 770"> informacje o użytkownikach?
    </button>
  </p>
  <div id="collapseExample" [ngbCollapse]="isCollapsed2">
    <div class="card">
      <div class="card-body">
        Strona zbiera i przechowuje tylko te informacje, które uzytkownik sam postanowi wprowadzić.
      </div>
    </div>
  </div>


  <p>
    <button type="button" class="btn btn-outline-success" (click)="isCollapsed3 = !isCollapsed3" [attr.aria-expanded]="!isCollapsed3"
      aria-controls="collapseExample">
      Czy aplikacja rozpowszechnia<br *ngIf="screenWidth < 770"> informacje o użytkownikach<br *ngIf="screenWidth < 770"> podmiotom trzecim?
    </button>
  </p>
  <div id="collapseExample" [ngbCollapse]="isCollapsed3">
    <div class="card">
      <div class="card-body">
        Informacje wprowdzane przez użytkowników slużą twórcom jedynie poprawie jakości dostarczanych danych i nie są w żaden sposób
        rozpowszechniane czy wykorzystywane.
      </div>
    </div>
  </div>


  <p>
    <button type="button" class="btn btn-outline-success" (click)="isCollapsed4 = !isCollapsed4" [attr.aria-expanded]="!isCollapsed4"
      aria-controls="collapseExample">
      Czy mogę zmienić raz wprowadzone<br *ngIf="screenWidth < 770"> dane użytkownika?
    </button>
  </p>
  <div id="collapseExample" [ngbCollapse]="isCollapsed4">
    <div class="card">
      <div class="card-body">
        Użytkownik ma w dowolnym momencie możliwość zmiany informacji na temat swojego stanu zdrowia jak i równiez na temat domyślnej
        lokalizacji, w zakładce User Settings.
      </div>
    </div>
  </div>

  <p>
    <button type="button" class="btn btn-outline-success" (click)="isCollapsed5 = !isCollapsed5" [attr.aria-expanded]="!isCollapsed5"
      aria-controls="collapseExample">
      Dlaczego nie są dostarczane<br *ngIf="screenWidth < 770"> dane na temat wszystkich<br *ngIf="screenWidth < 770"> miast w Polsce?
    </button>
  </p>
  <div id="collapseExample" [ngbCollapse]="isCollapsed5">
    <div class="card">
      <div class="card-body">
        Dane o stanie o jakości powietrza pobierane sa za pomoca specjalnych czujnikow. Tak wiec twórcy dysponuja danymi jedynie
        z miejsc gdzie takie czujniki sie znajdują, ich liczba jednak stale wzrasta.
      </div>
    </div>
  </div>

  <p>
    <button type="button" class="btn btn-outline-success" (click)="isCollapsed6 = !isCollapsed6" [attr.aria-expanded]="!isCollapsed6"
      aria-controls="collapseExample">
      Jak często aktualizowane są dane?
    </button>
  </p>
  <div id="collapseExample" [ngbCollapse]="isCollapsed6">
    <div class="card">
      <div class="card-body">
        Dane dostarczane przez aplikację aktualizowane są o pełnych godzinach.
      </div>
    </div>
  </div>

  <p>
    <button type="button" class="btn btn-outline-success" (click)="isCollapsed7 = !isCollapsed7" [attr.aria-expanded]="!isCollapsed7"
      aria-controls="collapseExample">
      Czy udostępniony jest do wglądu<br *ngIf="screenWidth < 770"> kod źrodłowy projektu?
    </button>
  </p>
  <div id="collapseExample" [ngbCollapse]="isCollapsed7">
    <div class="card">
      <div class="card-body">
        Odnośnik do kodu źrodłowego znajduje się w zakładce SUPPORT
      </div>
    </div>
  </div>


</div>
