<div class ="User-container">
<div class = "Personal">
  <span class = "header" >PERSONAL DATA</span>
    <form>
        <label for="Name"> Name: </label>
         <input type="text" name="Name"> <br>
         <label for="Location"> Default Location: </label>
        <input type="text" name="Location"> <br>
        <label for="bday"> Date of birth: </label>
        <input type="date" name="bday"> <br>
        <input type="submit" value="Submit">
      </form>

</div>
<div class = "Health"> <span class = "header" >HEALTH INFORMATIONS</span>
  <form>
      <input type="checkbox" name="vehicle" value="1"> checkbox 1<br>
      <input type="checkbox" name="vehicle" value="2" > checkbox 2<br>
      <input type="checkbox" name="vehicle" value="3"> checkbox 3<br>
      <input type="checkbox" name="vehicle" value="4" > checkbox 4<br>
      <input type="checkbox" name="vehicle" value="5"> checkbox 5<br>
      <input type="checkbox" name="vehicle" value="6" > checkbox 6<br>
      <input type="checkbox" name="vehicle" value="7"> checkbox 7<br>
      <input type="checkbox" name="vehicle" value="8" > checkbox 8<br>
      <input type="submit" value="Submit">
    </form>
</div>
</div>
