.btn-facebook, .btn-google{
  width: 47%;
}
.btn-facebook {
  background: #3b5998;
  color: #FFF;
}
.btn-facebook:hover {
  background: #293E6A;
}
.btn-google {
  background: #DD4B39;
  color: #FFF;
}
.btn-google:hover {
  background: #9A3427 ;
}
