<div class="row">
  <div class="col-md-12 mx-auto text-center card">
    <div class="form-group card-body">
      <h2>Choose station</h2>
      <select class="custom-select" [(ngModel)]="stacjaID">
        <option *ngIf="zalogowany" [value]="defaultLocation">Default Location</option>
        <option *ngFor="let s of wszystkieStacje" [value]="s.id">{{s.address.locality}} {{s.address.route}} {{s.address.streetNumber}} </option>
      </select>
    </div>
  </div>
</div>

<div>
  <button class="btn btn-success"style="margin: 0 auto; display: flex;" (click)="getStacjaID(stacjaID)" (click)="getCharts()">Show charts for station with ID: {{stacjaID}}</button>
</div>
<div class="row">
  <div class="col-md-6 mx-auto mt-2 ">
    <div class="card">
      <div class="card-body">
        <div *ngIf="chart1">
          <canvas id="chart1">{{ chart1 }}</canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 mx-auto mt-2">
    <div class="card">
      <div class="card-body">
        <div *ngIf="chart2">
          <canvas id="chart2">{{ chart2 }}</canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 mx-auto mt-2">
    <div class="card">
      <div class="card-body">
        <div *ngIf="chart3">
          <canvas id="chart3">{{ chart3 }}</canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 mx-auto mt-2">
    <div class="card">
      <div class="card-body">
        <div *ngIf="chart4">
          <canvas id="chart4">{{ chart4 }}</canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
