<div class="row">
  <div class="col-md-12 mt-3 mx-auto text-center card">
    <div class="form-group card-body">
      <h2>Na koniec kilka słów o twórcach BeAware - Air Info Application</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 mx-auto mt-2">
    <div class="card">
      <div class="card-body">
        <div class="card mb-3">
          <h3 class="card-header">Daniel Słowik</h3>
          <div class="card-body">
            <h5 class="card-title">Współtwórca</h5>
          </div>
          <img style="height: 400px; width: 300px; display: block; margin-left: auto;  margin-right:auto" src="https://firebasestorage.googleapis.com/v0/b/beawareairinfoapplication.appspot.com/o/ds.jpg?alt=media&token=d7709ab6-5fd9-42c0-bb75-bd2269f510ff"
            alt="Card image">
          <div class="card-body">
            <p class="card-text text-justify">Student 3 roku kierunku Informatyka Stosowana i specjalizacji Inżynieria Oprogramowania na Uniwersytecie Ekonomicznym
              w Krakowie. Swoją przygodę z programowaniem rozpoczął 7 lat temu z roku na rok zwiększając poświęcany czas.
              Na dłużej zatrzymał się przy C++, następnie jego serce podbiła Java, a realizując ten projekt zainteresował
              się również Angularem. Poza programowaniem od prawie 10 lat realizuje się w swojej drugiej pasji jaką jest
              parkour/freerun prowadząc kanał na YT, warsztaty dla początkujących oraz pracując jako trener.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 mx-auto mt-2">
    <div class="card">
      <div class="card-body">
        <div class="card mb-3">
          <h3 class="card-header">Mateusz Otręba</h3>
          <div class="card-body">
            <h5 class="card-title">Współtwórca</h5>
          </div>
          <img style="height: 400px; width: 300px; display: block; margin-left: auto;  margin-right:auto " src="https://firebasestorage.googleapis.com/v0/b/beawareairinfoapplication.appspot.com/o/mo.jpg?alt=media&token=e1335da0-afd5-4e18-8432-5c205655d177"
            alt="Card image">
          <div class="card-body">
            <p class="card-text text-justify">Student 3 roku kierunku Informatyka Stosowana i specjalizacji Inżynieria Oprogramowania na Uniwersytecie Ekonomicznym
              w Krakowie. Osoba z pozytywnym spojrzeniem na swiat, pełna energii i żądna nowych wyzwań. Zwolennik front-endowych
              technologii programowania ktory swoją przygodę z kodowaniem rozpoczynał od "eksperymentów" z językiem C++ ktory
              jednak nie przypadł mu do gustu. Mateusz poza studiami i nauką, pracuje jako trener-instruktor w parku trampolin
              oraz hobbystycznie występuje w amatorskiej drużynie koszykówki.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
