<div class="row">
  <div class="col-md-12 mx-auto text-center card oppacity">
    <div class="form-group card-body">
      <h2>Na koniec kilka słow o tworcach BeAware - Air Info Application</h2>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6 mx-auto mt-2">
    <div class="card">
      <div class="card-body">

          <div class="card mb-3">
              <h3 class="card-header">Daniel Słowik</h3>
              <div class="card-body">
                <h5 class="card-title">Wspołtworca</h5>
                <h6 class="card-subtitle text-muted">Support card subtitle</h6>
              </div>
              <img style="height: 400px; width: 300px; display: block; margin-left: auto;  margin-right:auto" src="https://firebasestorage.googleapis.com/v0/b/beawareairinfoapplication.appspot.com/o/ds.jpg?alt=media&token=d7709ab6-5fd9-42c0-bb75-bd2269f510ff" alt="Card image">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>

            </div>

      </div>
    </div>
  </div>
  <div class="col-md-6 mx-auto mt-2">
    <div class="card">
      <div class="card-body">

          <div class="card mb-3">
              <h3 class="card-header">Mateusz Otręba</h3>
              <div class="card-body">
                <h5 class="card-title">Wspołtworca</h5>
                <h6 class="card-subtitle text-muted">Support card subtitle</h6>
              </div>
              <img style="height: 400px; width: 300px; display: block; margin-left: auto;  margin-right:auto " src="https://firebasestorage.googleapis.com/v0/b/beawareairinfoapplication.appspot.com/o/mo.jpg?alt=media&token=e1335da0-afd5-4e18-8432-5c205655d177" alt="Card image">
              <div class="card-body">
                <p class="card-text">Student 3 roku kierunku Informatyka Stosowana i specjalizacji Inżynieria Oprogramowania na Uniwersytecie Ekonomicznym w Krakowie.
                  Osoba z pozytywnym spojrzeniem na swiat, pelna energii i żądna nowych wyzwań. Zwolennik front-endowych technologii programowania ktory swoja przygodę z kodowaniem rozpoczynał
                  od "eksperymentow" z językiem C++ ktory jednak nie przypadł mu do gustu. Mateusz poza studiami i nauką,
                  pracuje jako trener-instruktor w parku trampolin oraz hobbystycznie występuje w amatorskiej drużynie koszykowki.</p>
              </div>

            </div>

      </div>
    </div>
  </div>
</div>





