.Personal {
  padding: 20px;

  background: white;
  width: 450px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;
}

.Health {

  padding: 20px;
  margin-top: 30px;

  background: white;
  width: 450px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: 17px;

}

 .Personal input {
  font-size: 17px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header{

  font-weight: bold;
  font-size: 25px;
}
.Health input {
  font-size: auto;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}

.User-container{
 background: blue;
height: auto;
width: 700px;
margin-left: auto;
margin-right: auto;
padding: 30px;
}

