<div class="jumbotron mt-3">
  <h1>Be Aware - Air Info Application</h1>
  <p class="lead">Opis projektu:</p>
  <hr class="my-1">
  <p>Aplikacja ma na celu informowanie użytkowników o stanie jakości powietrza w wybranych miastach w Polsce. Dane pobierane
    są z "Airly API" zawierającej w sobie "Jakość powietrza w Polsce - API". Każdy zalogowany użytkownik może wprowadzić
    między innymi domyślne miejsce pobytu oraz aktualny stan zdrowia. Ma to na celu lepsze dostosowania wiadomości i ostrzeżeń
    wysyłanych do użytkownika w przyszłości. Oprogramowanie dostarcza również historyczne dane na temat stanu powietrza w
    wybranym miejscu.</p>
  <div class="text-center">
    <img src="{{home1}}" class="rounded-circle">
    <img src="{{home2}}" class="rounded-circle">
  </div>
  <p class="lead">Skład zespołu projektowego:</p>
  <p>
    1. Słowik Daniel 194704 (kierownik projektu)
    <br> 2. Otręba Mateusz 194209
  </p>
  <p class="lead">Link do systemu zarządzania projektem:</p>
  <p>
    <a href="https://trello.com/b/fFfcexlA/beawareairinfoapplication" target="_blank">Trello - SPAproject</a>
  </p>
  <p class="lead">Prototyp Projektu:</p>
  <p>
    Został wykonany w programie MockPlus, a znajduje się w folderze
    <a href="https://github.com/kkasztann/BeAwareAirInfoApplication/tree/master/ApplicationPrototype" target="_blank">ApplicationPrototype</a>
  </p>
  <p class="lead">Raport prac każdego członka zespołu</p>
  <p>
    <a href="https://docs.google.com/spreadsheets/d/1q2fU5GP4lZvmuYyWWzbNR2TBnqlo3yuleFN-M0qmZdQ/edit?usp=sharing" target="_blank">Wspólny raport</a>
  </p>
</div>
