<div class="jumbotron mt-3">
  <h1>Be Aware - Air Info Application</h1>
  <p class="lead">Opis projektu:</p>
  <hr class="my-1">
  <p>Aplikacja ma na celu informowanie użytkowników o stanie jakości powietrza w wybranych miastach w Polsce. Dane pobierane
    są z "Airly API" zawierającej w sobie "Jakość powietrza w Polsce - API". Każdy zalogowany użytkownik może wprowadzić
    między innymi domyślne miejsce pobytu oraz aktualny stan zdrowia. Ma to na celu lepsze dostosowania wiadomości i ostrzeżeń
    wysyłanych do użytkownika w przyszłości. Oprogramowanie dostarcza również historyczne dane na temat stanu powietrza w
    wybranym miejscu.</p>
  <div class="text-center">
    <img src="{{home1}}" class="rounded-circle">
    <img src="{{home2}}" class="rounded-circle">
  </div>
</div>
