<div class="jumbotron mt-3 oppacity">
  <h1 class="display-3">Be Aware - Air Info Application</h1>
  <p class="lead">Opis projektu:</p>
  <hr class="my-1">
  <p>Aplikacja ma na celu informowanie użytkowników o stanie jakości powietrza w wybranych miastach w Polsce.
    Dane pobierane są z "Airly API" oraz "Jakość powietrza w Polsce - API".
    Każdy zalogowany użytkownik będzie mógł wprowadzić: domyślne miejsce pobytu, wiek i aktualny stan zdrowia.
    Ma to na celu lepsze dostosowania wiadomości i ostrzeżeń wysyłanych do użytkownika.
    Osoba korzystająca z "Be Aware AIA",
    oprócz ręcznego sprawdzania stanu pogody ma również możliwość włączenia automatycznych powiadomień,
    ostrzegających o wysokim stężeniu szkodliwych substancji.
    Oprócz wyżej wymienionych podstawowych funkcjonalności oprogramowanie dostarcza również historyczne dane
    na temat stanu powietrza, oraz dodatkowo opcje takie jak na przykład informacja dla mieszkańców wybranych miast
    odnośnie darmowej komunikacji miejskiej w związku z wysokim stopniem zanieczyszczenia powietrza.</p>
  <p class="lead">
    <a class="btn btn-outline-primary btn-lg" href="https://github.com/kkasztann/BeAwareAirInfoApplication" role="button">Check on GitHub</a>
  </p>
</div>
