<div class="photo"> Miejsce na zdjecie/ logo </div>
<div class="messages"> Miejsce na komunikaty</div>
<div style="height: 80vh;">

  <div color="primary">





    <div fxShow="true" fxHide.lt-md="true">

      <!-- The following menu items will be hidden on both SM and XS screen sizes -->


      <div class="button-group ">
          <button (click) = "toggleHome()" type="button" href="#" class="btn btn-primary">Home</button>
          <div class="dropdown">
            <button (click) = "toggleLocation()" type="button" href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Location</button>
            <ul class="dropdown-menu">
              <li>
                <a href="#">Current Location</a>
              </li>
              <li>
                <a href="#">Default Location</a>
              </li>
              <li>
                <a href="#">Search Location</a>
              </li>
            </ul>
          </div>
          <button (click) = "toggleUser()" type="button" href="#" class="btn btn-primary">User</button>
          <button (click) = "toggleData()"  type="button" href="#" class="btn btn-primary">Data</button>
          <div class="dropdown" >
            <button (click) = "toggleHelp()"  class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Help
            </button>
            <ul class="dropdown-menu">
              <li>
                <a href="#">About BeAware</a>
              </li>
              <li>
                <a href="#">Support</a>
              </li>
              <li>
                <a href="#">Rate</a>
              </li>
            </ul>

          </div>
      </div>

    </div>

    <div fxShow="true" fxHide.gt-sm="true">

      <a (click)="sidenav.toggle()">Show Side Menu</a>

    </div>





  </div>

  <mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav #sidenav fxLayout="column">

      <div fxLayout="column">

        <a (click)="sidenav.toggle()" mat-button>Close</a>


        <button type="button" href="#" class="btn btn-primary">Home</button>
        <div class="dropdown">
          <button type="button" href="#" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Location</button>
          <ul class="dropdown-menu">
            <li>
              <a href="#">Current Location</a>
            </li>
            <li>
              <a href="#">Default Location</a>
            </li>
            <li>
              <a href="#">Search Location</a>
            </li>
          </ul>
        </div>
        <button type="button" href="#" class="btn btn-primary">User</button>
        <button type="button" href="#" class="btn btn-primary">Data</button>

        <div class="dropdown" >
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Help
          </button>
          <ul class="dropdown-menu">
            <li>
              <a  href="#">About BeAware</a>
            </li>
            <li>
              <a href="#">Support</a>
            </li>
            <li>
              <a href="#">Rate</a>
            </li>
          </ul>

        </div>

      </div>



    </mat-sidenav>

    <mat-sidenav-content fxFlexFill class="Main-content">

      <app-m-home *ngIf ="visibleHome" ></app-m-home>
      <app-m-location *ngIf="visibleLocation"></app-m-location>
      <app-m-user *ngIf="visibleUser"></app-m-user>
      <app-m-data *ngIf="visibleData"></app-m-data>
      <app-m-help *ngIf="visibleHelp"></app-m-help>

    </mat-sidenav-content>

  </mat-sidenav-container>
  <div class="footer"> Tutaj będzie jakas stopka</div>

</div>
