.example-icon {
  padding: 0 14px;
}



.Main-content {

  background: aqua;
}

.footer {
  text-align: center;
}

.messages {
  background: green;
  height: 30px;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: black;
}

.photo {
  width: 100%;
  height: 100px;
  font-size: xx-large;
  text-align: center;
  padding: 20px;
}

.button-group{

  display: inline;
}
.dropdown{

  display: inline;
}

.log{
  padding: 0px;
  margin: 0px;
text-align: right;

}
